
body{
//background:rgb(204,255,229);
background-color:rgb(211,211,211);
}
h2{
font-size:40px;
font-color:black;
text-align:center;
text-decoration:underline;
}
.content{
margin:25px 0;
font-size:0.9em;
min-width:400px;
border-color=#ffffff;
padding:12px 15px;
align:center;
margin-left:auto;
margin-right:auto;
}
.cell1{
//background-color:#009879;
background-color:rgb(90,90,90);
color:#ffffff;
color:rgb(90,90,90);
text-align:center;
font-size:1em;
font-weight:bold;
}
.cell1,.cell2,.cell3,.cell4{
padding:15px 30px;
color:black;
}

div{align:center}
.cell2,.cell3,.cell4{background:#ffffff;}

button{
dispaly:block;
margin:auto;
width:100px;
padding:7px;
font-weigth:bold;
color;#ffffff;
background-color:rgb(250,100,0);
cursor:pointer;
}

.click{text-align:center;}